@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  body {
    @apply bg-background-light dark:bg-background-dark text-gray-800 dark:text-gray-100 font-body overflow-x-hidden min-h-screen flex flex-col;
  }
}

@layer utilities {
  .glass-header {
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }

  .blur-transition-overlay {
    background: linear-gradient(to bottom,
        rgba(250, 250, 250, 0) 0%,
        rgba(250, 250, 250, 0.8) 70%,
        #FAFAFA 100%);
  }

  .dark .blur-transition-overlay {
    background: linear-gradient(to bottom,
        rgba(2, 44, 34, 0) 0%,
        rgba(2, 44, 34, 0.8) 70%,
        #022C22 100%);
  }
}